doctype html
html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous") 
    link(rel="stylesheet" href="style.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Quizomatic! - #{title}
  body.container
    h1= title
    block content