doctype html
html
  head
    link(rel="stylesheet" href="style.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Quizomatic! - #{title}
  body
    h1= title
    block content